@page
@model RazorPagesLibrary.Pages.Account.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>AccountModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AccountModel.LibCardNo" class="control-label"></label>
                <input asp-for="AccountModel.LibCardNo" class="form-control" />
                <span asp-validation-for="AccountModel.LibCardNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountModel.Password" class="control-label"></label>
                <input asp-for="AccountModel.Password" class="form-control" />
                <span asp-validation-for="AccountModel.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountModel.PhoneNumber" class="control-label"></label>
                <input asp-for="AccountModel.PhoneNumber" class="form-control" />
                <span asp-validation-for="AccountModel.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
