html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: #333;
    color: #fff;
    margin: 0;
    padding: 0;
}

.homepage-img {
    background-image: url('/images/homepage_img.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-radius: 16px;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.bd-placeholder-img {
    border-radius: 16px;
}

.semi-bold {
    font-weight: 500;
    font-size: 18px;
}

.card {
    border-radius: 16px;
    background-color: #444;
}


.form-group {
    margin-bottom: 1.5rem;
    max-width: 1000px;
}

label {
    font-weight: bold;
}

input,
textarea {
    background-color: #444; 
    color: #fff; 
    border: 1px solid #888; 
}

button {
    background-color: #007bff; 
    color: #fff; 
}

.btn-prop {
    width: 80px;
    height: 48px;
    font-size: 18px;
}

.t-size {
    font-size: 18px;
}

.vertical-center {
    vertical-align: middle;
}

.card-img-wrapper {
    border-radius: 16px;
    background-color: white;
    padding: 10px; 
    text-align: center;
}
