@page
@model RazorPagesLibrary.Pages.Contact_Us.CreateModel

@{
    ViewData["Title"] = "Create";
}
<h2>Contact Us</h2>
<div class="row">
    <div class="col-md-8">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ContactUsModel.firstName" class="control-label"></label>
                <input asp-for="ContactUsModel.firstName" class="form-control" />
                <span asp-validation-for="ContactUsModel.firstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactUsModel.lastName" class="control-label"></label>
                <input asp-for="ContactUsModel.lastName" class="form-control" />
                <span asp-validation-for="ContactUsModel.lastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactUsModel.email" class="control-label"></label>
                <input asp-for="ContactUsModel.email" class="form-control" />
                <span asp-validation-for="ContactUsModel.email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactUsModel.message" class="control-label"></label>
                <textarea asp-for="ContactUsModel.message" class="form-control" rows="10"></textarea>
                <span asp-validation-for="ContactUsModel.message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary btn-prop" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
