@page
@model RazorPagesLibrary.Pages.About_Us.IndexModel
@{
}

<body>
    <div class="row featurette">
        <div class="col-md-7">
            <h1 class="my-4 fw-bold">About Us</h1>
            <p class="semi-bold">The Library, founded in the heart of a bustling town in the late 19th century, emerged as a cornerstone of intellectual enrichment and community engagement. Born out of a collective vision to provide accessible knowledge to citizens, the library quickly became a focal point for readers, researchers, and learners of all ages. Over the decades, it evolved with the changing times, embracing new technologies and expanding its collection to include a diverse array of books, multimedia resources, and digital archives. The Library played a pivotal role in fostering a love for literature, supporting academic pursuits, and serving as a community hub for cultural events. Its history is woven into the fabric of the town, reflecting the enduring importance of libraries as dynamic spaces that adapt and grow alongside the ever-evolving needs of their patrons. Today, the Library stands as a testament to the enduring power of libraries in shaping the intellectual and cultural landscape of a community.</p>
        </div>
        <div class="col-md-5">
            <img src="/images/about-us.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" alt="Blog 1">
        </div>
    </div>
</body>